body {
	background-color: #ECEFF1;
	overflow: hidden;
	font-family: "Helvetica Neue",Helvetica,Arial,Verdana,Tahoma;
}

.appbar {
	background-color: #607D8B;
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
}

.appbar-title {
	font-size: 24px;
	margin-left: 20px;
	cursor: default;
}

.appbar-link {
	margin-right: 20px;
}

.appbar-link-title {
	vertical-align: super;
	cursor: default;
}

.appbar-link i {
	color: #FFF;
}

#board {
	position: absolute;
	height: 100%;
	width: 100%;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
}

.card-list-wrapper {
	height: 100%;
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
	margin-right: 15px;
	white-space: normal;
}

.card-list {
	width: 340px;
	max-height: 500px;
	margin: 0px;
	padding-bottom: 12px;
	padding-top: 0px;
	display: flex;
	flex-direction: column;
}

.card-list .card-list-header {
	flex: 0 0 auto;
}

.card-list .card-list-header .card-list-title-area {
	margin-top: 10px;
	width: 205px;
	float: left;
	font-size: 18px;
	cursor: pointer;
	word-wrap: break-word;
}

.card-list .card-list-header .card-list-button-area {
	width: 100px;
	margin-left: 5px;
	float: left;
}

.card-list .mui-divider {
	margin-bottom: 1px;
	clear: both;
	flex: 0 0 auto;
}

.card-list-body {
	overflow-y: auto;
	flex: 1 1 auto;
	min-height: 40px;
}

.card-list-body::-webkit-scrollbar { width: 0 !important }
/*.card-list-body { -ms-overflow-style: none; }
.card-list-body { overflow: -moz-scrollbars-none; }*/

.kanban-card {
	background-color: #FFE082;
	padding: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	cursor: pointer;
	min-height: 70px;
}

.kanban-card.active {
	background-color: #FFECB3;
}

.kanban-card .kanban-card-gmail {
	padding-top: 5px;
}

.kanban-card .card-area {
	width: 270px;
	float: left;
}

.kanban-card .card-area .kanban-card-label {
	min-height: 40px;
	word-wrap: break-word;
}

.noselect {
	/*-webkit-touch-callout: none;*/
	-webkit-user-select: none;
	/*-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;*/
	user-select: none;
}

.kanban-card .button-area {
	width: 12px;
	float: left;
}

.kanban-card .button-area i {
	color: #424242;
}

.card-dropdown-btn {
	background: transparent;
	width: 20px;
	height: 20px;
	padding: 0px;
	margin-top: 0px;
}

.card-dropdown-btn .mui-caret {
	padding-bottom: 16px;
}

.button-area .mui-dropdown__menu {
	min-width: 52px;
}

.card-dropdown-btn .mui-btn:active, .mui-btn:focus, .mui-btn:hover {
	background: transparent;
}

.sortable-placeholder.kanban-card {
	background-color: #EEEEEE;
	border-radius: 5px;
}

.new-list-btn {
	margin-top: 0px;
}
